version: 2
updates:
  - package-ecosystem: nuget
    directory: /
    schedule:
      interval: daily

  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: daily

  - package-ecosystem: npm
    directory: /
    schedule:
      interval: daily

  - package-ecosystem: nuget
    directory: /src/Web.Client
    schedule:
      interval: daily

  - package-ecosystem: docker
    directory: /src/Web
    schedule:
      interval: daily

  - package-ecosystem: nuget
    directory: /src/Web
    schedule:
      interval: daily

  - package-ecosystem: nuget
    directory: /src/Shared
    schedule:
      interval: daily
