@inherits LayoutComponentBase

<div class="flex h-screen flex-col">
  <div class="flex flex-grow">
    <div class="w-64 bg-gray-800 text-white sidebar">
      <NavMenu/>
    </div>

    <main class="flex flex-grow flex-col">
      <div class="border-b border-gray-200 bg-gray-100 px-4 py-2 top-row">
        <a href="https://learn.microsoft.com/aspnet/core/" target="_blank"
           class="text-blue-600 hover:underline">About</a>
      </div>

      <article class="flex-grow bg-white px-4 py-6 content">
        @Body
      </article>
    </main>
  </div>
</div>

<div id="blazor-error-ui" data-nosnippet class="fixed bottom-0 left-0 w-full bg-red-500 p-2 text-center text-white">
  An unhandled error has occurred.
  <a href="." class="ml-2 text-blue-300 underline">Reload</a>
  <span class="ml-2 cursor-pointer dismiss">🗙</span>
</div>
