@inherits LayoutComponentBase

<div class="flex flex-col h-screen">
  <div class="flex flex-grow">
    <div class="sidebar bg-gray-800 text-white w-64">
      <NavMenu/>
    </div>

    <main class="flex-grow flex flex-col">
      <div class="top-row px-4 py-2 bg-gray-100 border-b border-gray-200">
        <a href="https://learn.microsoft.com/aspnet/core/" target="_blank" class="text-blue-600 hover:underline">About</a>
      </div>

      <article class="content px-4 py-6 bg-white flex-grow">
        @Body
      </article>
    </main>
  </div>
</div>

<div id="blazor-error-ui" data-nosnippet class="fixed bottom-0 left-0 w-full bg-red-500 text-white text-center p-2">
  An unhandled error has occurred.
  <a href="." class="text-blue-300 underline ml-2">Reload</a>
  <span class="dismiss cursor-pointer ml-2">🗙</span>
</div>
