<div class="bg-gray-800 px-3 text-white top-row">
  <div class="container mx-auto flex items-center">
    <a class="text-xl font-bold" href="">Web</a>
  </div>
</div>

<input type="checkbox" title="Navigation menu" class="hidden" id="navbar-toggler"/>

<div class="nav-scrollable" onclick="document.querySelector('#navbar-toggler').click()">
  <nav class="flex flex-col space-y-2 bg-gray-100 p-3">
    <div class="nav-item">
      <NavLink class="flex items-center text-gray-800 hover:text-blue-600" href="" Match="NavLinkMatch.All">
        <span class="mr-2 bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
      </NavLink>
    </div>

    <div class="nav-item">
      <NavLink class="flex items-center text-gray-800 hover:text-blue-600" href="counter">
        <span class="mr-2 bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
      </NavLink>
    </div>

    <div class="nav-item">
      <NavLink class="flex items-center text-gray-800 hover:text-blue-600" href="weather">
        <span class="mr-2 bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
      </NavLink>
    </div>
  </nav>
</div>
