@page "/counter"
@rendermode InteractiveAuto

<PageTitle>Counter</PageTitle>

<h1 class="mb-4 text-2xl font-bold">Counter @RendererInfo.Name</h1>

<p role="status" class="mb-4 text-lg text-gray-700">Current count: @_currentCount</p>

<button
  class="rounded bg-blue-500 px-4 py-2 text-white hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400"
  @onclick="IncrementCount">
  Click me
</button>


@code {
  private int _currentCount;

  private void IncrementCount()
  {
    _currentCount++;
  }

}
