@page "/"

@inject IConfiguration Configuration

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>
<h2 class="mb-4 text-xl font-bold">I am using @RendererInfo.Name rendering mode</h2>
<h2 class="mb-4 text-xl font-bold">SomeConfig value is: <span
    class="font-semibold italic">@Configuration["SomeConfig"]</span></h2>


Welcome to your new app.
